/*what is the color of hello world*/
div.greetDiv .greet{  /*0,2,1 [21]*/
    color: green;
}
.greetDiv p .greet{   /*0,2,1 [21]*/

    color:blue;
}
.greetDiv .greet{     /*0,2,0 [20] */
    color:red;
}